<!DOCTYPE html>
<html>

<head>
    <title>WTFBBQ</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-google-charts@0.3.2/dist/vue-google-charts.browser.js"></script>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <div class="main">
                    <v-card class="card-wide">
                        <v-card-text>

                            <div class="temps" v-if="status !== null">
                                <v-card v-for="(temp, index) in status.temps" class="temp-box" class="mx-auto my-12"
                                    :key="index">
                                    <v-card-title>TC {{index}}</v-card-title>
                                    <v-card-text>
                                        <div class="temp-text">{{temp.toFixed(2)}}</div>
                                    </v-card-text>
                                </v-card>
                            </div>
                            <div class="center-flex" v-if="chartData !== null">
                                <GChart type="LineChart" :data="chartData" :options="chartOptions"
                                    style="width: 900px; height: 500px;" />
                            </div>

                        </v-card-text>
                    </v-card>
                    <v-card class="card" v-if="status !== null">
                        <v-card-title>Control Status</v-card-title>
                        <v-card-text>
                            <v-simple-table>
                                <template v-slot:default>
                                    <tbody>
                                        <tr>
                                            <td><b>Output</b></td>
                                            <td>{{status.output}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>P term</b></td>
                                            <td>{{status.p_term}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>I term</b></td>
                                            <td>{{status.i_term}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>D term</b></td>
                                            <td>{{status.d_term}}</td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                    </v-card>
                    <v-card class="card" v-if="status !== null">
                        <v-card-title>Control Params</v-card-title>
                        <v-card-text>
                            <v-simple-table>
                                <template v-slot:default>
                                    <tbody>
                                        <tr>
                                            <td><b>Set Point</b></td>
                                            <td>{{status.config.set_point}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>P gain</b></td>
                                            <td>{{status.config.p}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>I gain</b></td>
                                            <td>{{status.config.i}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>D gain</b></td>
                                            <td>{{status.config.d}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>TC Index</b></td>
                                            <td>{{status.config.tc_index}}</td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                    </v-card>
                </div>
            </v-main>
        </v-app>
    </div>

    <script>

        Vue.component("gchart", VueGoogleCharts.GChart);
        var app = new Vue({
            components: {
                //GChart: VueGoogleCharts.GChart
            },
            el: '#app',
            vuetify: new Vuetify({
                theme: { dark: true },
            }),
            data: {
                status: null,
                chartsLib: null,
                chartData: null,
                chartOptions: {
                    chartArea: { 'width': '90%', 'height': '80%' },
                    legend: {
                        position: 'bottom',
                        textStyle: { color: '#aaaaaa' },
                    },
                    colorAxis: { colors: ["yellow", "red"] },
                    backgroundColor: { fill: 'transparent' },
                    hAxis: {
                        textStyle: {
                            color: '#aaaaaa',
                        },
                    },
                    vAxis: {
                        textStyle: {
                            color: '#aaaaaa',
                        },
                    },
                },
            },
            methods: {
                fetchStatus() {
                    axios.get('/status')
                        .then(response => {
                            this.status = response.data
                            let chartData = [["timestamp"].concat(this.status.log.labels)];
                            for (const entry of this.status.log.entries) {
                                let line = [new Date(entry.timestamp)].concat(entry.values);
                                chartData.push(line);
                            }
                            // console.log(chartData);
                            this.chartData = chartData;
                        })
                        .catch(error => console.log(error));
                },
                onChartReady(chart, google) {
                    this.chartsLib = google
                }
            },
            mounted() {
                this.interval = setInterval(() => {
                    this.fetchStatus()
                }, 1000);
            },
            beforeDestroy() {
                clearInterval(this.interval);
            },
        })

    </script>
</body>

</html>